Создай проект врошающего стола с наклоном.
Вращением стола управляет M5Stamp-C3 к которому подключен ULN2003 c шаговым двигателем 28BYJ-48 5Volt и
серво мотор для наклона управляемый PWM кнопка для сброса настроек (нажатие более 5сек) и кнопка для включения/выключения стола.
Для разработки использовать ESP-IDF
Должен быть Web UI:
 1. Выбор режима подключения Wifi AP/Station При невозможно подключится к сети включить режым AP.
 2. Выбор скорости вращения стола и скорости изменения угла наклона. Минимальный и максимальный угол стола.
 3. Кнопка для включения/выключения стола.
 4. Кнопка для сброса настроек.
 5. Редактирование профилей (создать/удалить/копировать) содержаший параметры:requirements,txt скоростей вращения стола и скорости изменения угла наклона и максимального/минимального угла наклона.